@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    @*<h2>You can found contact's information in here.</h2>*@
</hgroup>

<section class="contact">
    <header>
        <h3>Names</h3>
    </header>
    <p>
        <span class="label">1:</span>
        <span>Büşra GÖRMEZ</span>
    </p>
    <p>
        <span class="label">2:</span>
        <span>Merve VURAL</span>
    </p>
    <p>
        <span class="label">3:</span>
        <span>Javier Díez Ruiz</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">1:</span>
        <span><a href="mailto:karanfil_bsra@hotmail.com">karanfil_bsra@hotmail.com</a></span>
    </p>
    <p>
        <span class="label">2:</span>
        <span><a href="mailto:merve_vural@hotmail.com">merve_vural@hotmail.com</a></span>
    </p>
    <p>
        <span class="label">3:</span>
        <span><a href="mailto:javier@example.com">javier@example.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        Kralja Petra Svacica<br />
        Osijek, WA 98052-6399
    </p>
</section>