@{
    ViewBag.Title = "Galery";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    @*<h2>@ViewBag.Message</h2>*@
</hgroup>
<fieldset>
    <article>
        <div id="images">
            <a href="~/Content/img/mywebalbum/index.html" target="_blank">Please click the link.</a>
        </div>
    </article>
</fieldset>


