@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                @*<h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>*@

                <video controls="controls" width="950" height="400">
                    <source src="~/Content/img/Canlanan%20Kitaplar.mp4" type="video/mp4" />
                </video>

            </hgroup>
            <p>
                Please play the video.
            </p>
        </div>
    </section>
}
<h3>Benefit of books:</h3>
<ol class="round">
    <li class="one">
        <h5>Knowledge</h5>
        Everything you read fills your head with new bits of information, and you never know when it might come in handy. The more knowledge you have, the better-equipped you are to tackle any challenge you’ll ever face.

        Additionally, here’s a bit of food for thought: should you ever find yourself in dire circumstances, remember that although you might lose everything else—your job, your possessions, your money, even your health—knowledge can never be taken from you.

    </li>

    <li class="two">
        <h5>Memory Improvement</h5>
        When you read a book, you have to remember an assortment of characters, their backgrounds, ambitions, history, and nuances, as well as the various arcs and sub-plots that weave their way through every story. That’s a fair bit to remember, but brains are marvellous things and can remember these things with relative ease. Amazingly enough, every new memory you create forges new synapses (brain pathways)and strengthens existing ones, which assists in short-term memory recall as well as stabilizing moods. How cool is that?
    </li>

    <li class="three">
        <h5>Mental Stimulation</h5>
        Studies have shown that staying mentally stimulated can slow the progress of (or possibly even prevent) Alzheimer’s and Dementia, since keeping your brain active and engaged prevents it from losing power. Just like any other muscle in the body, the brain requires exercise to keep it strong and healthy, so the phrase “use it or lose it” is particularly apt when it comes to your mind. Doing puzzles and playing games such as chess have also been found to be helpful with cognitive stimulation.
        <a href="http://www.lifehack.org/articles/lifestyle/10-benefits-reading-why-you-should-read-everyday.html">Learn more…</a>
    </li>
</ol>
